<nav>
    <a href="/" class="nav-brand">Online Chess<img src="/public/assets/chess-icons/chess-pawn-solid.svg" alt="Chess Pawn"></a>

    <ul class="nav">
<li class="nav-link">
    <a href="/register">Register</a>
</li>

<li class="nav-link">
    <a href="/login">Login</a>
</li>

    </ul>
</nav>